<form class="search-bar" role="search" action="/facts">
  <input name="query" type="search" id="search" placeholder="Find a Fact" />
  <button type="submit">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
  </button>
</form>
