<!-- Below is the quickiest and dirtiest of bug fixes. This JS should only run on this page. -->
<!-- Hide sticky nav bar when it is above the hero image. -->
<script type="text/javascript">

  $(document).on('ready', function() {

    if (Modernizr.mq('(min-width: 900px)')) {
      hideNav();
      $(document).on('scroll', function () {
        var docScroll = $(document).scrollTop();
        // This is something we might want for mobile later in the below if statement: & $('html').height() > 768 -- ie. no sticky header for short screens
        if (docScroll >= 280) {
          showNav();
        } else if ((docScroll <= 280)) {
          hideNav();
        }
      });
    }

  });

  showNav = function(){
    $('.img-logo').removeClass('nodisplay');
    $('nav').removeClass('nodisplay');
    $('.navigation').addClass('nav-bg');
  }

  hideNav = function(){
    $('.img-logo').addClass('nodisplay');
    $('nav').addClass('nodisplay');
    $('.navigation').removeClass('nav-bg');
  }

</script>



<% content_for :head do %>

  <title>Truthometer - Promoting Civil Discourse & Debate Online</title>

  <meta content="Truthometer enables truth to unfold via a collaborative process of evidence collection and verification." name="description" />



  <meta content="Truthometer" property="og:site_name" />
  <meta content="website" property="og:type" />
  <meta content="http://www.truthometer.co" property="og:url" />


<% end %>


  <%= render 'refills/hero' %>

  <div class="text-wrapper">

    <hr/>
    <h2 class="transition">Most Popular Facts</h2>

    <div class="home-page-fact-boxes">
      <%= render @popular_facts %>
      <!-- This should be a dynamic/rails generated link -->
      <p><a href="/facts?sort=popular">(view all)</a></p>
    </div>

    <hr/>
    <h2 class="transition">Political Facts</h2>

    <div class="home-page-fact-boxes">
      <%= render @political_facts %>
      <p><a href="/facts?category=political">(view all)</a></p>
    </div>

    <hr/>
    <h2 class="transition">Newest Facts</h2>

    <div class="home-page-fact-boxes">
      <%= render @new_facts %>
      <p><a href="/facts?sort=new">(view all)</a></p>
    </div>

  </div>
