form.search-bar {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: #006668;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: #006668 !default;
  $dark-gray: #333 !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 0px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  ::-webkit-input-placeholder {
   color: #FFF;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #FFF;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #FFF;
  }
  :-ms-input-placeholder {
     color: #FFF;
  }

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: transparentize(#fff, 0.7);
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 0px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  input {
    color: #FFF;/* 1 */
    font: inherit;/* 2 */
    margin: 0;/* 3 */
  }

  button[type=submit] {
    @include button(flat, $base-accent-color);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}

#search-index{
  color: black;

}

#form-search-index {
  ::-webkit-input-placeholder {
    color: #555;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #555;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: #555;
  }
  :-ms-input-placeholder {
    color: #555;
  }

}