
<%= render 'refills/profile_flex_boxes' %>

<%= render 'refills/stats_flex_boxes' %>

<%= render 'refills/favorites_flex_boxes' %>

<div id="activity-by-category" style="width:100%; height:400px;"></div>
<div id="facts-upvotes-downvotes" style="width:100%; height:200px;"></div>
<div id="evidence-upvotes-downvotes" style="width:100%; height:200px;"></div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script>$(document).on('ready',function(){hCharts();});</script>
