
<div class="facts-index-search">
  <h4>Search Inside Selected Categories:</h4>
  <form id="form-search-index" class="search-bar" role="search" action="/facts">
    <input name="query" type="search" id="search-index" placeholder="Find a Fact" />
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    </button>
  </form>
</div>


  <!--<div class="search-bar">-->
    <!--<form role="search" action="/facts">-->
      <!--<input name="query" type="search" id="search" placeholder="Find a Fact" />-->
      <!--<button type="submit">-->
        <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">-->
      <!--</button>-->
    <!--</form>-->
  <!--</div>-->
