<div class="text-wrapper">
  <h1>All Facts</h1>
  <div class="facts-container">
    <ul id="facts-list">
      <% @facts.each do |fact| %>
        <%= render fact %>
      <% end %>
    </ul>
  </div>
</div>
