
  <%= "Showing results for \"#{params[:query]}\"" if params[:query] %>

  <%= render 'filter_nav' %>

  <div class="facts-container">

    <ul id="facts-list" class="fact-box-wrapper">
      <%= render @facts %>
    </ul>

    <%= paginate @facts %>

  </div>
