
  <%= "Showing results for \"#{params[:query]}\"" if params[:query] %>

  <%= render 'filter_nav' %>

  <div class="facts-container">
    <div class="fact-box-wrapper">
      <% @facts.each do |fact| %>
        <%= render fact %>
      <% end %>
    </div>
  </div>
