
  <h1>Browse facts</h1>

  <%= "Showing results for \"#{params[:query]}\"" if params[:query] %>

  <%= render 'filter_nav' %>

  <br><br>

  <div class="facts-container">
    <ul id="facts-list">
      <% @facts.each do |fact| %>
        <%= render fact %>
      <% end %>
    </ul>
  </div>
