/* Social Login Buttons */

$fb-background-color: rgb(86, 120, 188);
$g-background-color: #DD4B39;

#fblogin {
  @include span-columns(6);
  @include omega();
  height: 29px;
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
  //cursor: pointer;
  //display: block;
  //vertical-align: middle;
  border-radius: 3px;
  font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  overflow: hidden;
  padding: 4px 3px;
  text-align: center;

  &:hover {
    background: darken($fb-background-color, 10%);
  }
  @include media (max-width $small-screen) {
  }

}

#fbname {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 2px;
    vertical-align: middle;
    align-self: flex-start;
    width: 1em;
    cursor: pointer;
    text-decoration: none solid #444444;
    border: 0px none #444444;
    outline: #444444 none 0px;
    text-shadow: white 0px 1px 0px;
    color: white;
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    padding-left: 5px;
    margin-left: 3px;

}

#fbtext {

  cursor: pointer;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  width: 74%;
  background-color: none;
  white-space: nowrap;
  font: normal normal bold 0.7em/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.24706) 0px -1px 0px;
  margin: 2px 0 0px 3px;
  color: white;
  text-decoration: none solid white;
  border: 0px none white;
  outline: white none 0px;

  @include media (max-width $small-screen) {
    font-size: 0.6em;
    margin: 0px 0px 0px 0px;

  }


}



#gpluslogin {
  @include span-columns(6);
  text-align: center;
  height: 29px;
  color: white;
  cursor: pointer;
  float: left;
  text-decoration: none solid #444444;
  text-shadow: white 0px 1px 0px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #DD4B39;
  background: -webkit-linear-gradient(#DD4B39, #D14836);
  background: linear-gradient(#DD4B39, #D14836);
  border-top: 1px solid #e65858;
  border-right: 1px solid #e34242;
  border-bottom: 1px solid #e34242;
  border-left: 1px solid #e34242;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 3px;
  font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-size: 17px;
  outline: #444444 none 0px;
  overflow: hidden;
  padding: 2px 3px;

  &:hover {
    background: darken($g-background-color, 10%);
  }

  @include media (max-width $small-screen) {

  }
}



#gpname {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  bottom: 2px;
  //box-shadow: rgba(0, 0, 0, 0.15) 1px 0px 0px 0px;
  color: white;
  cursor: pointer;
  text-decoration: none solid #444444;
  text-shadow: rgba(0, 0, 0, 0.24706) 0px -1px 0px;
  white-space: nowrap;
  width: 2em;
  align-self: flex-start;
  border: 0px none #444444;
  font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  outline: #444444 none 0px;
}

#gptext {
  background-color: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 17px;
  text-align: center;
  text-decoration: none solid white;
  text-shadow: rgba(0, 0, 0, 0.24706) 0px -1px 0px;
  white-space: nowrap;
  width: 74%;
  align-self: flex-start;
  border: 0px none white;
  font: normal normal bold 0.7em/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  outline: white none 0px;

  @include media (max-width $small-screen) {
    font-size: 0.6em;
    margin: 0px 0px 0px 0px;
  }

  @include media (max-width 320px) {
    //font-size: 0.6em;

  }
}



