.fact-boxes {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  height: 200px;
  margin-bottom: 2.35765%;
  @include span-columns(4);
  @include omega(3n);

  a.fact-box {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $fact-box-border-color: $light-gray;
  $fact-box-border: 1px solid $fact-box-border-color;
  $fact-box-background: lighten($light-gray, 10%);
  $fact-box-gutter: 0em; // reduce margin to 0
  $fact-box-width: 18em;
  $fact-box-color: transparentize($base-font-color, 0.3);
  $fact-box-left-color: #CCCCCC;

    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    text-align: center;

  .fact-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $fact-box-background;
    border-radius: 0 !important;
    box-shadow: inset 0 0 1px $fact-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    margin: $fact-box-gutter;
    padding: 1em;

    border-left: 10px solid $fact-box-left-color;
    &:focus,
    &:hover {
      background-color: transparentize($fact-box-left-color, 0.9);
    }

    img {
      display: block;
      height: 3em;
      margin-bottom: 2em;
      margin: auto;
      opacity: 0.4;
    }

    .flex-title {
      color: $fact-box-color;
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($fact-box-color, 0.1);
      line-height: 1.2em;
      margin: auto;
      text-align: left;
      padding-bottom: 10px;
      height: 70px;
      border-bottom: 1px solid #ccc;

      .fact-heading {
        font-weight: bold;
        color: #000;
      }
    }
  }

  .fact-box-big {
    @include flex(1 1 40em);
  }
}

.fact-box-wrapper {
  margin-top: 20px;
  @include outer-container;
  @include clearfix;
  @include span-columns(12);
}

.fact-box-favorite {
  width: 100%;
  height: 30px;
  border-left: 10px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: left;
  padding-left: 5px;
  padding-top: 2px;
}

.fact-box-favorite p {
  padding: 0;
  margin: 0;
  font-size: 0.8em !important;
  display: inline-block;
}

.fact-box-star {
  font-size: 1em;
}
