.show-fact {
  @include span-columns(12);
  @include omega;
}


.fact-header {
  @include span-columns(12);
  @include omega;
}

blockquote {
  background:#f9f9f9;
  border-left:10px solid #ccc;
  margin:0.5em 0px 0.25em 0px;
  padding:.5em 10px;
  font-size: 2em;
  min-height: 100px;
}

blockquote p {
  display:inline;
}

.truth-score {
  float: right;
  padding-right: 15px;
  height: 100%;
  background-color: black;
  color: white;
}
