.fact-show {
  display: table-cell;
  width: 70%;
  font-size: 1.5em;
}

.truth-score {
  height: 100%;
  width: 15%;
  font-size: 4em;
  background-color: #ccc;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.truth-dial {
  height: 100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.fact-header {
  @include span-columns(12);
  @include omega;
  background:#f9f9f9;
  border-left:10px solid #ccc;
  display: table;
  margin:0.5em 0px 40px 0px;
  padding:.5em 10px;
  min-height: 150px;
}
