.sort-nav {
  overflow: hidden;

  &> div {
    float: left;
  }
}

.category-buttons {
  @include span-columns(12);
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
  h4 {
    margin: 0;
  }
}

.filter-buttons {
  @include span-columns(4);
  display: block;
  overflow: hidden;
  h4 {
    margin: 0;
  }
}

.facts-index-search {
  @include span-columns(6);
  float: none;
  h4 {
    margin: 0;
  }
}

.details-reset {
  @include span-columns(12);

  h3 {
    margin: 0;
    margin-top: 10px;
  }
}

#spinner {
  width: 50px;
  margin: 0 auto;
  display: none;
}

#reset {
  font-size: 0.4em;
}
