@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'refills/navigation';
@import 'refills/footer';
@import 'refills/flex-boxes';

// This is required by Bourbon Refills
body {
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  @include outer-container;
  background-color: #f1e3ce; // temporary color to debug wrapper
}


.evidence {
  @include span-columns(12);
  @include omega;
  .supporting {
    @include span-columns(6);
  }
  .refuting {
    @include span-columns(6);
    @include omega;
  }
}

.evidence-form {
  @include span-columns(6);
}

#evidence_url {
  width: 300px;
}
