@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'refills/navigation';
@import 'refills/footer';
@import 'refills/flex-boxes';
@import 'refills/hero';

$padding-from-screen-edge: 20px;
$text-max-width: 1020px;
$navigation-background: $dark-gray;
$sticky-nav-top-padding: 80px;

// This is required by Bourbon Refills
body {
  -webkit-font-smoothing: antialiased;
  background-color: #f1e3ce; // temporary color
}

.wrapper {
  @include omega;
  @include pad($padding-from-screen-edge);
}

.text-wrapper {
  @include outer-container;
  max-width: $text-max-width;
  @include pad($padding-from-screen-edge);
  padding-top: $sticky-nav-top-padding;
}

.evidence {
  @include omega;
  .supporting {
    @include pad($padding-from-screen-edge);
    @include span-columns(6);
  }
  .refuting {
    @include pad($padding-from-screen-edge);
    @include span-columns(6);
    @include omega;
  }
}

.evidence-form {
  @include span-columns(6);
}

#evidence_url {
  width: 300px;
}

// This is for the home page
.nav-bg {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
}

.nodisplay {
  display: none;
}
