@import 'normalize';
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'facts/show';
@import 'facts';
@import 'facts/index';
@import 'user_show';
@import 'authentication/social-signup-buttons';
@import 'authentication/form-wrapper';
@import 'refills/navigation';
@import 'refills/footer-2';
@import 'refills/flex-boxes';
@import 'refills/stats-flex-boxes';
@import 'refills/profile-flex-boxes';
@import 'refills/hero';
@import 'refills/flashes';
@import 'refills/button-group';
@import 'refills/modal';
@import 'refills/tooltips';
@import 'odometer-theme-default';
@import 'refills/search-bar';
@import 'facts/fact-boxes';
@import 'facts/dial';


$padding-from-screen-edge: 20px;
$text-max-width: 1200px;
$navigation-background: #092E4B;

// This is required by Bourbon Refills
html, body {
  -webkit-font-smoothing: antialiased;
  background-color: #eaeaf5; // temporary color
}


// This is for the home page
.nav-bg {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.wrapper {
  @include omega;
  @include pad($padding-from-screen-edge);
}

.text-wrapper {
  @include outer-container;
  max-width: $text-max-width;
}

.application-wrapper {
  @include outer-container;
  max-width: $text-max-width;
  @include pad($padding-from-screen-edge);
  padding-top: $sticky-nav-top-padding; // This should be applied to the first element on each page.
  padding-top: 98px;
}

.evidence {
  @include omega;
  .supporting {
    @include span-columns(6);
  }
  .refuting {
    @include span-columns(6);
    @include omega;
  }
}

.evidence-form {
  @include span-columns(6);
}

#evidence_url {
  width: 300px;
}

.nodisplay {
  display: none;
}

// Home page search bar NOT one in nav bar
.home-search-bar {
  @include span-columns(6);
  @include shift(3);
}

.home-page-or {
  padding-top: 70px;
}

.home-page-or p {
  margin-bottom: 25px !important;
}

.home-add-facts {
  @include span-columns(5);
  @include shift(1);
  background-color: transparentize($dark-gray, 0.3);
  margin-bottom: 30px;
}

.home-browse-facts {
  @include span-columns(5);
  @include omega;
  background-color: transparentize($dark-gray, 0.3);
  margin-bottom: 30px;
}

.home-subheader {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.secondary-content {
  margin: 0 auto 1em auto !important;
  max-width: 80% !important;
}

// Transition home page vars
$link-color: #f52e62;
$text-color: #3f517e;
$hr-color:   rgba(0,0,0,0.35);
$hr-text-color: #092E4B;

$letter-spacing: .1em;

$background-color: #fff;

hr {
  display: block;
  margin: 30px 0 -15px;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: $hr-color;

  + h2.transition {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid $hr-text-color;
    box-shadow: inset 0 0 0 1px $hr-text-color;
    transform: translateX(-50%);
    color: $hr-text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: $letter-spacing;
    text-align: center;
    text-transform: uppercase;
    background-color: $background-color;

    // Cancel out offset created by letterspacing
    &::first-letter {
      margin-left: $letter-spacing;
    }
  }
}

/* Alternative transform: translate */
hr.transition + h2 {
  border-width: 1px 0;

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: $hr-text-color;
    content: '';
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.home-page-fact-boxes {
  margin-top: 20px;
  @include clearfix;
  .fact-boxes {
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    margin: 0;
    padding: 0;
    // font-size: 0.8em;
  }
}
