// Place all the styles related to the facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.is-selected {
  color: red !important;
}

.category-list,
.sort-list {
  li {
    float: left;
    padding-left: 15px;
  }
}
// NOTE: this is just here as a placeholder, obviously we need better style
