$user_profile_and_details_height: 15em;
$user_stats_height: 30em;
$user_favorites_height: 15em;
$border-for-testing: 1px solid black;
$top-margin: 2.35765%;

#user-profile-image {
  margin: 0;
  max-width: 100%;
  border-radius: 16px;
  border-width: 4px;
  border: 1px solid black;
}

.user-profile-wrapper{
  @include outer-container;
  //border: $border-for-testing;
  display: flex;

  .user-profile {
    @include span-columns(4);
    border: $border-for-testing;
    padding-left: 19px;

    .user-profile-image {

      .user-totals {
        display: inline-block;
        position: relative;
        bottom: 0px;
        left: 23px;
        font-size: 18px;
      }

      h1{
        margin: 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }


    }

    .user-profile-details {

      .user-profile-speedo {
        width: 103px;
        height: 95px;
        display: inline-block;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background: url("/assets/dial-d6f6944a07ba99122fb0bd46ef74a334f0e97b5e3810040224b02bd27c076cb8.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        /* margin-right: 20px; */

        .user-profile-odometer {
          font-size: 14px;
          left: 7px;
          top: 57px;
        }
      }



    }
  }

  .user-activity-chart-wrapper {

    @include span-columns(8);
    @include omega();
    border: $border-for-testing;
  }



}



// .profile-image {
//   @include span-columns(4);
//   border: $border-for-testing;
//   height: $user_profile_and_details_height;
//
// }
//
// .user-details {
//   @include span-columns(8);
//   @include omega;
//   border: $border-for-testing;
//   height: $user_profile_and_details_height;
//
// }

// .users-facts {
//   @include span-columns(4);
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_stats_height;
//
// }

// .users-evidence {
//   @include span-columns(4);
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_stats_height;
//
// }

// .users-votes {
//   @include span-columns(4);
//   @include omega;
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_stats_height;
// }
//
// .users-favorites {
//   @include span-columns(12);
//   @include omega;
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_favorites_height;
//
// }
