<div class="button-group">
  <% @categories.each do |category| %>
      <label>
        <%= button_to category.name, {}, {
            :class => ('is-selected' if params[:category] && params[:category].downcase == category.name.downcase),
            :type => 'radio',
            :name => 'category',
            :method => 'get',
            :remote => true,
            :url => facts_path } %>
        <span id="category-<%= category.name %>" class="button-group-item"><%= category.name %></span>
      </label>
  <% end %>

</div>
