<div class="flex-box-wrapper">
  <div class="flex-boxes">
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Share Dynamic Images</h1>
      <p>Our dynamically generated fact infographics will change based on voting. Watch the state of your facts evolve.</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Evidenced Based Ranking</h1>
      <p>Facts are rated based on the evidence supporting or refuting them. Agree or disagree? Submit your own evidence!</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Learn Truthometer Etiquette</h1>
      <p>Our mission statement and a set of guidelines to ensure that your truthometer experience gets a high rating.</p>
    </a>
  </div>
</div>
