<div class="wrapper">
  <div class="flex-boxes">
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Controversial Facts</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Most Popular Facts</h1>
      <p>Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Newest Facts</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <h1 class="flex-title">Art Facts</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
  </div>
</div>
