<div class="flex-box-wrapper">
  <div class="flex-boxes">
    <a href="about" class="flex-box">
      <h1 class="flex-title"><i class="fa fa-file-image-o"></i> Share Dynamic Images</h1>
      <p>Our dynamically generated fact infographics will change based on community feedback! Watch the state of your facts evolve. lorem</p>
    </a>
    <a href="about" class="flex-box">
      <h1 class="flex-title"><i class="fa fa-bar-chart"></i> Evidence Based Ranking</h1>
      <p>Facts are rated based on the strength of evidence attached to them. Agree or disagree? Submit your own evidence!</p>
    </a>
    <a href="about" class="flex-box">
      <h1 class="flex-title"><i class="fa fa-university"></i> Learn Truthometer Etiquette</h1>
      <p>Our mission statement and philosophy. A set of guidelines to ensure that your truthometer experience gets a high rating.</p>
    </a>
  </div>
</div>
