<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag("logo-placeholder.png", alt: 'Truthometer') %></a>
		<div class="hero-copy">
			<h1>This is a short slogan</h1>
			<p>This could be a longer slogan or according to our mockup a search bar</p>
		</div>
    <%= button_to "Add Fact", new_fact_path, method: :get %>
	</div>
</div>
