<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag("logo-placeholder.png", alt: 'Truthometer') %></a>
		<div class="hero-copy">
			<h1>Promoting civil discourse and debate online</h1>
      <div class="home-search-bar">
  			<%= render 'refills/search_bar' %>
      </div>
		</div>
    <%= button_to "Add Fact", new_fact_path, method: :get %>
	</div>
</div>
