<div class="modal">
  <label for="modal-2">
    <div class="modal-trigger login">login</div>
  </label>
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-2"></label>
      <%= render 'users/sessions/new' %>
    </div>
  </div>
</div>

