<div class="modal">
  <label for="modal-1">
     <div class="modal-trigger sign-up">Sign up</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <%= render 'users/registrations/new' %>
    </div>
  </div>
</div>


