// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Stuff below from cool "dial" Chris sent
// .superWrapper {
//     position: relative;
//     float: left;
// }
// .wrapper {
//   width: 200px; /* Set the size of the progress bar */
//   height: 200px;
//   position: absolute; /* Enable clipping */
//   clip: rect(0px, 200px, 200px, 100px); /* Hide half of the progress bar */
// }
// /* Set the sizes of the elements that make up the progress bar */
// .circle {
//

// .user-stats {
//     float: right;
//     border: solid;
//     margin: 1rem;
//     width: 45%;
//     display: block;
//   }

.truthiness-rating {
   float: left;
   border: solid;
   width: 45%;
   display: block;
   margin: 2%;
}

.evidence-quality {
   float: left;
   border: solid;
   margin: 1rem;
   width: 45%;
   display: block;
   margin: 2%;
}

.recent-votes {
   float: left;
   border: solid;
   margin: 1rem;
   width: 45%;
   display: block;
   margin: 2%;
}

.my-favorites {
   display: none;
}
