$user_profile_and_details_height: 15em;
$user_stats_height: 30em;
$user_favorites_height: 15em;
$border-for-testing: 1px solid black;
$top-margin: 2.35765%;

.user-profile-wrapper{
  padding: 20px;
  display: flex;
  @include outer-container;

  @include media(max-width $medium-screen) {
    display: block;
  }



  .user-profile {
    @include span-columns(4);
    @include media(max-width $medium-screen) {
      @include span-columns(12);
    }

    a {
      margin-left: 15px;
      font-size: 0.8em;
      display: block;
    }

    .user-totals {
      display: block;
      margin: 10px;
      font-size: 1.1em;
      font-weight: bold;

      h3 {
        margin: 0;
      }


      @include media(max-width $medium-screen) {
        float: left;
      }

      @include media(max-width $large-screen) {
        font-size: 0.8em;
      }

    }


    .user-profile-image {

      h1{
        margin: 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      img {
        margin: 10px 10px 0 0;
        max-width: 100%;
        border-radius: 16px;
        border-width: 4px;
        border: 1px solid $light-gray;

        @include media(max-width $medium-screen) {
          float: left;
        }
      }


    }


  }

  .user-activity-chart-wrapper {
    @include span-columns(8);
    @include omega();

    @include media(max-width $medium-screen) {
      @include span-columns(12);
    }

  }



}



// .profile-image {
//   @include span-columns(4);
//   border: $border-for-testing;
//   height: $user_profile_and_details_height;
//
// }
//
// .user-details {
//   @include span-columns(8);
//   @include omega;
//   border: $border-for-testing;
//   height: $user_profile_and_details_height;
//
// }

// .users-facts {
//   @include span-columns(4);
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_stats_height;
//
// }

// .users-evidence {
//   @include span-columns(4);
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_stats_height;
//
// }

// .users-votes {
//   @include span-columns(4);
//   @include omega;
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_stats_height;
// }
//
// .users-favorites {
//   @include span-columns(12);
//   @include omega;
//   border: $border-for-testing;
//   margin-top: $top-margin;
//   height: $user_favorites_height;
//
// }
