<span id="welcome-message">Welcome, <%= link_to @current_user.display_name, user_path(@current_user) %></span>
<span><%= image_tag "http://www.gravatar.com/avatar/#{@current_user.gravatar_hash}",
                  width: '20',
                  height:'20',
                  id: "user-image-nav"%></span>


<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout" )%>
